<!-- views/partials/navbar.ejs -->
<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="orders">Orders</a></li>
            <li role="presentation"><a href="Reviews">Reviews</a></li>
            <li role="presentation"><a href="Reports">Reports</a></li>
            <li role="presentation"><a href="Promotions">Promotions</a></li>
        </ul>
    </nav>
</div>