<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user registration</title>
</head>

<body>
    <h1>Register</h1>
    <hr>
    <div>
        <form action="http://localhost:4000/api/users/new" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="Name" value="" name="name" required>
            </div>
            <div>
                <label for="desc">Surname</label>
                <input type="text" id="itemDescription" name="itemDescription" value="" rows="2" required>
            </div>
            <div>
                <label for="phone">Enter your phone number:</label>
                <input type="tel" id="phone" name="phone" placeholder="070 123 4569" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" required>
            </div>
            <div>
                <label for="price">email</label>
                <input type="email" id="email" placeholder="email" value="" name="email" required>
            </div>
            <div>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
            </div>
            <div style="padding-top: 5em;">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>